<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7AjAXY_K3RCq_i43_9yNWM2fkmrFWFZs</string>
	<key>GCM_SENDER_ID</key>
	<string>919606380071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.botanicare</string>
	<key>PROJECT_ID</key>
	<string>botanicare-18533</string>
	<key>STORAGE_BUCKET</key>
	<string>botanicare-18533.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919606380071:ios:30ffc1f55a5d1a4554b002</string>
</dict>
</plist>